/*--*-- Colors --*--*/
$c-blue-dark: #161880;
$c-white: #ffffff;
$c-black: #000000;
$c-yellow: #fdc525;
$c-lead: #808080;
$c-lighblue: #0a6cdc;
$c-blue: #0b6bd9;
$c-darkblue: #3e4093;
$c-yellow_sd: #f6b924; // Yellow_semi_dark
$c-turquoise: #10ffda;

/*--*-- Responsive size --*--*/

$size-movile: 480px;
$size-tablet: 720px;
$size-laptop: 1200px;
$size-desktop: 1300px;

/*--*-- Class Utilies --*--*/

/*--*-- Fonts --*--*/

$font-primary: "DM Sans", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
