.slideshow {
	position: relative;
	background-color: yellow;

	img {
		width: 100%;
		object-fit: cover;
	}

	@include laptop {
		img {
			min-height: 38rem;
		}
	}
}

.info-slide {
	position: absolute;
	padding: 2.5rem;

	@include laptop {
		top: 15%;
		left: calc((100% - 1100px) / 2);
	}

	@media (min-width: 1600px) {
		left: calc((100% - 1470px) / 2);
		top: 20%;
	}

	span {
		font-size: 5rem;
		font-family: $font-primary;
		color: $c-white;
		font-family: "Rubik", sans-serif;

		strong {
			font-size: 5rem;
			color: $c-turquoise;
		}
	}

	p {
		font-size: 1.8rem;
		font-family: $font-primary;
		color: $c-white;
		margin-bottom: 8rem;
	}

	a {
		.btn {
			font-size: 1.8rem;
			text-transform: capitalize;
			cursor: pointer;
			font-family: $font-primary;
			@include boton(1px, 1rem 3.7rem, 3rem, $font-bold, $c-white);
			transition: 0.2s all ease-in-out;

			&:hover {
				background-color: $c-white;
				color: $c-black;
			}
		}
	}
}
